*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
select {
  height: 32px;
}

input,
button,
textarea,
select {
  font: inherit;
}

input,
label,
select,
textarea {
  display: block;
  width: 100%;
  border-radius: 8px;
}

input,
textarea,
select {
  padding: 4px 8px;
  border: 1px solid black;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ol,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#root,
#__next {
  isolation: isolate;
}

:root {
  --side-bar-main-color: #f0e8d1;
  --text-main-color: #0d1b1e;
  --text-accent-color: #f05d23;
}

body {
  display: grid;
  grid-template-columns: 1fr 4fr;
  height: 100vh;
  color: var(--text-main-color);
}

.side-bar {
  background-color: var(--side-bar-main-color);
  display: flex;
  flex-direction: column;
  padding: 8px;
  font-size: 20px;
}

.project-add-button {
  border: none;
  border-radius: 8px;
  font-size: 20px;
  background-color: var(--side-bar-main-color);
  text-align: start;
  color: var(--text-accent-color);
  width: 100%;
  margin: 12px 0px 20px 0px;
}

dialog {
  border: none;
  border-radius: 16px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 16px;
  margin: auto;
  margin-top: 250px;
  width: 450px;
}

button:hover {
  cursor: pointer;
  background-color: #00000010;
}

dialog button {
  background-color: white;
  border: 1px solid black;
  padding: 4px 12px;
  border-radius: 8px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

textarea {
  width: 100%;
  resize: vertical;
}

select option:hover {
  box-shadow: 0 0 10px 100px red inset !important;
  color: white;
}
.add-project-cancel-btn,
.add-task-cancel-btn {
  border: 2px solid red;
}

.add-project-cancel-btn:hover,
.add-task-cancel-btn:hover {
  background-color: red;
}

.confirm-btn {
  border: 2px solid #00c000;
}

.confirm-btn:hover {
  background-color: #00c000;
}

.flex {
  display: flex;
  align-items: center;
}

.icon-button {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.projects-div {
  display: flex;
  flex-direction: column;
}

.project-div {
  text-align: start;
  padding: 0px 8px;
  border-radius: 8px;
}

.project-div.selected,
.project-div:hover {
  background-color: #00000010;
}

.project-div:hover {
  cursor: pointer;
}

.plus-icon {
  width: 24px;
  height: 24px;
  background-image: url("./assets/plus.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 4px;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
}

.content {
  padding: 16px;
  grid-column: 2 / 3;
}

.project-detail {
  display: flex;
  flex-direction: column;
}

.task {
  color: #00000090;
  padding: 8px;
  display: flex;
  border-bottom: 2px #676a6730 solid;
}

.title-wrapper,
.task-description-div,
.task-due-date-div {
  color: #000000;
  display: flex;
  gap: 4px;
  align-items: center;
  margin-bottom: 4px;
}

.task-description,
.task-due-date {
  font-size: 20px;
}

.detail-title {
  font-size: 32px;
  font-weight: 700;
}

.priority-div {
  /* width: 16px;
  height: 16px; */
  margin: 0 4px;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}

.priority-div .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #00000090;
  color: #fff;
  text-align: center;
  border-radius: 8px;
  padding: 4px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 20px;
  left: 105%;
}

.priority-div:hover .tooltiptext {
  visibility: visible;
}

select[priority="high"] {
  background-image: url("./assets/high.png");
}

select[priority="medium"] {
  background-image: url("./assets/medium.png");
}

select[priority="low"] {
  background-image: url("./assets/low.png");
}

.project-title-input {
  font-size: 32px;
  height: 40px;
  padding: 4px 8px;
  border: none;
}

.task-title {
  height: 28px;
}

.task-description,
.task-due-date {
  height: 24px;
}

.task-title,
.task-description {
  padding: 2px 4px;
  border: none;
  margin-right: 8px;
}

.task-due-date {
  padding: 2px 4px;
  border: none;
  width: 200px;
}

.project-title-input:hover,
.task-title:hover,
.task-description:hover,
.task-due-date:hover,
.task-priority-select:hover {
  outline: 1px #00000010 solid;
}

.project-title-input:focus,
.task-title:focus,
.task-description:focus,
.task-due-date:focus,
.task-priority-select:focus {
  outline: 1px #00000050 solid;
}

.task-add-button-div {
  border: none;
  border-radius: 8px;
  font-size: 20px;
  background-color: var(--side-bar-main-color);
  text-align: start;
  color: var(--text-accent-color);
  width: 100%;
}

.add-task-button {
  display: flex;
  align-items: center;
  border: none;
  border-radius: 8px;
  font-size: 20px;
  text-align: start;
  color: var(--text-accent-color);
  width: 100%;
  margin: 8px 0px;
}

.add-task-button:hover {
  background-color: var(--side-bar-main-color);
}

.task-body {
  width: 100%;
}

.task-done {
  width: auto;
  margin: 8px;
}

.task-delete {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border: none;
  width: 36px;
  border-radius: 4px;
  padding: 0px;
}

.task-delete-icon {
  background-image: url("./assets/delete-closed.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 27px;
  height: 27px;
}

.task-delete:hover {
  background-color: #ff000095;
}

.task-delete:hover .task-delete-icon {
  background-image: url("./assets/delete-open.png");
  width: 28px;
  height: 28px;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
}

.container {
  display: block;
  position: relative;
  width: 36px;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 8px;
  width: 8px;
  left: 0px;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

.container input:checked:has(.task) {
  text-decoration: line-through;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #f05d23;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 2px;
  width: 8px;
  height: 16px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.task-title {
  font-size: 24px;
  font-weight: 600;
  margin-left: 4px;
}

.task-done {
  margin: 0;
  text-decoration: line-through;
  color: #00000050;
  input::-webkit-datetime-edit-fields-wrapper {
    text-decoration: line-through;
  }
}

.task-description,
.task-due-date {
  color: #00000090;
}

.task-done .task-title,
.task-done .task-description,
.task-done .task-due-date {
  color: #00000050;
}

.task-priority-select {
  width: 0px;
  height: 24px;
  padding: 0px 20px;
  border: none;
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 15%;
}
